{% extends 'log/base.html' %}

{% block content %}

<script>
//Note that the path doesn't matter right now; any WebSocket
//connection gets bumped over to WebSocket consumers
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var ws_path = ws_scheme + '://' + window.location.host + "/chat1/";
var socket = new WebSocket(ws_path);
socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var chat = $("#chat")
        var ele = $('<tr></tr>')
        ele.append(
            $("<td></td>").text(data.handle)
        )
        ele.append(
            $("<td></td>").text(data.message)
        )
        chat.append(ele)
}

socket.onopen = function() {
    var tx = {
    		  message: "Você se conectou a sala " + "{{ room }}",
    		  room: "{{ room }}",
    		  user: "{{ request.user }}:"
    }
	//socket.send(JSON.stringify(tx));
}
//Call onopen directly if socket is already open
//if (socket.readyState == WebSocket.OPEN) socket.onopen();

function clone(){
    var tx = {
    		  message: document.getElementById('INPUT01').value,
    		  user: "{{ request.user }}: ",
    		  room: "{{ room }}",
    }
	socket.send(JSON.stringify(tx));
}
</script>

<input type="text" id="INPUT01" width="100%" />
<input type="button" value="Clonar" class=" btn btn-info btn-sm" onClick="clone()">
<div id="teste">
	<h1 id="titulo2"> Bem - Vindo a sala {{ room }} </h1>
</div>
<div id="clone1">
	<table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
	</table>
</div>

{% endblock %}